/* navbar */
.top-navbar .sotto-navbar {
  vertical-align: center;
  margin-top: 10px;
  height: 20px;
	width: 100%;
}
.allineata * {
  display: inline-block;
}
.allineata > .btn.btn-default.btn-sm {
    margin-left: 90%;
}
.destra {
  float: right;
}
.sinistra {
  float: left;
}
