/* navbar */
.top-navbar .sotto-navbar {
  vertical-align: center;
  margin-top: 10px;
  height: 20px;
	width: 100%;
}
#color {
  background-color: #b6e1f2;
}
#color2 {
  background-image: url("img/sfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.allineata * {
  display: inline-block;
}
.allineata > .btn.btn-default.btn-sm {
    margin-left: 90%;
}
.destra {
  float: right;
}
.sinistra {
  float: left;
}
#dist-colsx {
 margin: 15% auto 20%;
 color: white;
 font-size: 1.5em;
 font-weight: bold;
}
